body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #00004d; /* #35424a OG dark grey */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}
